html{
	text-align: center;
    background: linear-gradient(to bottom, #9b0404, black);
    background-repeat: no-repeat;
    font-family: sans-serif;
    font-weight: 100;
    height: auto !important;
    min-height: 100%;
}

h1{
  color: rgb(32, 32, 32);
  font-weight: 100;
  font-size: 40px;
  margin: 40px 0px 20px;
}

#clockdiv{
	font-family: sans-serif;
	color: rgb(253, 251, 251);
	display: inline-block;
	font-weight: 100;
	text-align: center;
	font-size: 30px;
}

#clockdiv > div{
	padding: 10px;
	border-radius: 3px;
	background:rgb(8, 8, 8);
	display: inline-block;
}

#clockdiv div > span{
	padding: 15px;
	border-radius: 3px;
	background:  rgb(119, 2, 2);
	display: inline-block;
}

.smalltext{
	padding-top: 5px;
	font-size: 16px;
}